In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
conn = sqlite3.connect('cars.db')

In [7]:
cur = conn.cursor()
cur.execute('SELECT * FROM cars')

In [8]:
rows = cur.fetchall()

In [10]:
len(rows)

134306

In [23]:
#df.to_sql('cars.db', conn)

In [11]:
Date = np.array(rows[0][0])
Source =  np.array(rows[0][1])
Make =  np.array(rows[0][2])
Model =  np.array(rows[0][3])
Price=  np.array(rows[0][4])
Milage=  np.array(rows[0][5])
Year =  np.array(rows[0][6])
Power =  np.array(rows[0][7])
Consumption =  np.array(rows[0][8])
Cylinder =  np.array(rows[0][9])
Gears =  np.array(rows[0][10])
Fuel = np.array(rows[0][11])
Transmission =  np.array(rows[0][12])
Body =  np.array(rows[0][13])
CO2 = np.array(rows[0][14])
Door =  np.array(rows[0][15])
Seat =  np.array(rows[0][16])
Engine =  np.array(rows[0][17])

for row in rows:
    
    Date = np.append(Date, row[0])
    Source = np.append(Source, row[1])
    Make = np.append(Make, row[2])
    Model = np.append(Model, row[3])
    Price= np.append(Price, row[4])
    Milage= np.append(Milage, row[5])
    Year = np.append(Year, row[6])
    Power = np.append(Power, row[7])
    Consumption = np.append(Consumption, row[8])
    Cylinder = np.append(Cylinder, row[9])
    Gears = np.append(Gears, row[10])
    Fuel = np.append(Fuel, row[11])
    Transmission = np.append(Transmission, row[12])
    Body = np.append(Body, row[13])
    CO2 = np.append(CO2, row[14])
    Door = np.append(Door, row[15])
    Seat = np.append(Seat, row[16])
    Engine = np.append(Engine, row[17])

In [12]:
d = {'Date': Date, 'Source':Source, 'Make':Make, 'Model':Model, 'Price':Price, 
     'Milage':Milage, 'Year':Year, 'Power':Power, 'Consumption':Consumption,
     'Cylinder':Cylinder, 'Gears':Gears, 'Fuel Type':Fuel, 'Transmission':Transmission, 
     'Body type':Body, 'CO2 emission':CO2, 'Door':Door, 'Seat':Seat, 'Engine size':Engine}

In [13]:
for k,v in d.items():
    print(f'{k} : {len(v)}')

Date : 134307
Source : 134307
Make : 134307
Model : 134307
Price : 134307
Milage : 134307
Year : 134307
Power : 134307
Consumption : 134307
Cylinder : 134307
Gears : 134307
Fuel Type : 134307
Transmission : 134307
Body type : 134307
CO2 emission : 134307
Door : 134307
Seat : 134307
Engine size : 134307

In [14]:
df = pd.DataFrame(d)

In [19]:
df.drop_duplicates(inplace=True)

In [21]:
df

,Date,Source,Make,Model,Price,Milage,Year,Power,Consumption,Cylinder,Gears,Fuel Type,Transmission,Body type,CO2 emission,Door,Seat,Engine size
0,0000-00-00,https://www.autotrader.co.uk/car-details/20220...,Toyota,Aygo,2199.0,83000,2008,67.0,51.4,3,0,Petrol,Manual,Hatchback,108.0,3,4,1.0
2,0000-00-00,https://www.autotrader.co.uk/car-details/20220...,Toyota,Aygo,995.0,130000,2006,67.0,51.4,3,0,Petrol,Manual,Hatchback,108.0,3,4,1.0
3,0000-00-00,https://www.autotrader.co.uk/car-details/20220...,Toyota,Aygo,6695.0,39000,2017,67.0,56.5,3,0,Petrol,Manual,Hatchback,95.0,5,4,1.0
4,0000-00-00,https://www.autotrader.co.uk/car-details/20220...,Toyota,Aygo,2495.0,73000,2007,67.0,51.4,3,0,Petrol,Manual,Hatchback,109.0,3,4,1.0
5,0000-00-00,https://www.autotrader.co.uk/car-details/20220...,Toyota,Aygo,5995.0,57796,2015,67.0,56.5,3,0,Petrol,Manual,Hatchback,95.0,5,4,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134302,0000-00-00,https://www.theaa.com/used-cars/cardetails/145...,Toyota,Aygo,9999.0,19828,18,0.0,0.0,0,0,Petrol,Manual,Hatchback,95.0,5,0,1.0
134303,0000-00-00,https://www.theaa.com/used-cars/cardetails/137...,Toyota,Aygo,11995.0,5632,2021,0.0,0.0,0,0,Petrol,Manual,Hatchback,114.0,5,0,1.0
134304,0000-00-00,https://www.theaa.com/used-cars/cardetails/137...,Toyota,Aygo,11500.0,28898,2018,0.0,0.0,0,0,Petrol,Semiauto,Hatchback,95.0,5,0,1.0
134305,0000-00-00,https://www.theaa.com/used-cars/cardetails/7-4...,Ford,Mondeo,10646.0,51139,2015,0.0,0.0,0,0,Diesel,Manual,Hatchback,107.0,5,0,2.0
134306,0000-00-00,https://www.theaa.com/used-cars/cardetails/6-2...,Ford,Mondeo,14650.0,99000,2019,0.0,0.0,0,0,Petrol hybrid,Automatic,Estate,103.0,5,0,2.0

In [20]:
df.to_pickle('data')